#app {
  text-align: center;
}
body {
  padding-top: 75px !important;
}

#header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

#title {
  margin-top: 0px;
  font-size: 1.5em;
}

#links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#links li.current a {
  color: white;
  font-weight: bold;
}

#links li a {
  padding: 10px;
  color: lightGray;
  text-decoration: none;
}

#links li a:hover {
  color: white;
}

#content {
  margin-top: 20px;
}

a {
  color: #87c8f6;
}

.searchBar {
  float: left;
  padding: 16px 0px;
  width: 250px;
  position: relative;
}
/*.searchBar:after{
  content: "\f012";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 10px;
  right: 10px;
}*/
.searchBar input[type="text"] {
  height: 35px;
  font-size: 14px;
  border-radius: 0;
}
.home-slider img {
  width: 100%;
}
.site-section.site-section-sm {
  padding: 1em 0;
}
.downloadLink {
  margin-bottom: 20px;
}
.downloadLink button {
  width: 100%;
  padding: 15px 10px;
}
.paddingTop30 {
  padding-top: 30px;
}
.paddingBottom30 {
  padding-bottom: 30px;
}

.btn-primary {
  background-color: #87c8f6;
  border-color: #87c8f6;
}
.btn-primary:hover {
  background-color: #69b3e8;
  border-color: #69b3e8;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #69b3e8;
  border-color: #69b3e8;
}

.site-pagination a {
  border-radius: 0;
  margin: 0 2px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.prop-entry:hover .prop-text {
  bottom: -50px;
}
.downloadLink .btn-default {
  border: solid 1px #ccc;
}

.componentPreview {
  border: none;
  width: 100%;
  min-height: 500px;
}

.prop-entry img {
  width: 100% !important;
}
.offcanvas-menu .site-wrap {
  z-index: 20;
}
.topFrame {
  margin-bottom: 40px;
  position: relative;
  background: #fff url("https://i.redd.it/ounq1mw5kdxy.gif") center center
    no-repeat;
}
.topFrame:after {
  content: attr(x);
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}
.topFrame iframe {
  border-top: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  height: calc(100vh - 194px);
  position: relative;
  z-index: 10;
}
.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  overflow: auto;
  min-height: 27px;
}
.tags li {
  float: left;
  margin-right: 5px;
}
.tags li span {
  background: #87c8f6;
  color: #fff;
  padding: 3px 4px 4px;
  border-radius: 2px;
  font-size: 11px;
  cursor: pointer;
  transition: all linear 0.3s 0s;
}
.tags li span:hover {
  background: #60aee6;
}
.topContainer h2 {
  min-height: 28px;
}
.topContainer > .container {
  min-height: 103px;
}
.topContainer .btn-default {
  border: solid 1px #ccc;
  padding: 5px 8px 4px;
  font-size: 14px;
  color: #878585;
  float: right;
  margin-left: 10px;
  background: #fff;
}
.topContainer .btn-default i {
  margin-right: 3px;
}

.topContainer .shareBtn {
  background: #87c8f6;
  border-color: #87c8f6;
  color: #fff;
}
.site-section-title h2 {
  position: relative;
  font-size: 20px;
}
.site-section-title h2 span {
  background: #f9f9f9;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}
.site-section-title h2:after {
  content: attr(x);
  width: 100%;
  position: absolute;
  height: 2px;
  background: #ccc;
  top: 10px;
  left: 0;
}
.prop-entry .prop-text .price {
  font-size: 13px;
  margin-bottom: 10px;
}
.prop-entry .prop-text .title {
  font-size: 13px;
  margin-bottom: 20px;
}
.site-section {
  min-height: 600px;
}
#homepage {
  min-height: 652px;
}
.prop-entry {
  cursor: pointer;
}
.site-pagination a {
  cursor: pointer;
}
.site-pagination li.disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}
.site-pagination li.active a {
  background: #87c8f6;
  color: #fff;
}
.site-pagination .pagination {
  justify-content: center;
}
.headingBanner {
  background: url(/assets/img/banner.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 0 80%;
  background-size: 100%;
}
.contactDetail {
  border: solid 1px #dee2e6;
}

.error-message {
  margin: 0;
  position: absolute;
  bottom: -18px;
  font-size: 11px;
  color: red;
}

.site-navbar {
  position: fixed;
  top: 0;
}
.site-navbar .site-navigation .site-menu > li > a {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .searchBar {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .searchBar {
    position: absolute;
    right: 58px;
    width: 120px;
  }
}

/*admin css*/
#admin {
  margin-top: -75px;
  height: 100vh;
  overflow: hidden;
}
.loginCon {
  padding-top: 10%;
  background: rgb(250, 250, 250);
  min-height: 100vh;
}
.adminLogin {
  width: 380px;
  margin: auto;
  background: #fff;
  padding: 15px 15px 40px;
}
.roundLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  margin: auto;
  margin-top: -65px;
  line-height: 100px;
  margin-bottom: 50px;
  border: solid 1px #eae9e9;
}
.adminLogin.modalCon button.btn {
  margin-top: 40px;
}
.adminHeader {
  background: #fff;
  padding: 0 20px;
  box-shadow: 0 0 10px #eae8e8;
}
.inputCon {
  position: relative;
  margin-bottom: 15px;
}
.modalCon .form-group i,
.inputCon i {
  position: absolute;
  top: 0;
  left: 24px;
  font-size: 20px;
  color: #ccc;
  line-height: 50px;
  z-index: 1;
}
.inputCon input,
.selectBox select,
.inputCon.address input {
  height: 50px;
  border-radius: 55px;
  padding-left: 58px;
  border: solid 1px #efecec;
  color: #666464;
  transition: all ease-out 0.3s 0s;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 18px;
}
.selectBox {
  position: relative;
}
.selectBox:after {
  content: attr(x);
  position: absolute;
  border: solid 6px;
  border-color: #ddd transparent transparent transparent;
  right: 15px;
  top: 22px;
}
.inputCon.noIcon input,
.selectBox.noIcon select {
  padding: 1.5rem;
  border-radius: 2px;
}
.inputCon.address input {
  padding: 0 25px !important;
  outline: none;
}
.inputCon.address input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.hasShadow {
  box-shadow: 0 0 10px #eae8e8;
}
.modalCon button.btn,
.btn-primary.submitBtn,
.btn.cancelBtn {
  height: 40px;
  border-radius: 50px;
  padding: 0 20px;
  margin-top: 20px;
  margin-left: 10px;
  text-transform: capitalize;
  border: none;
  color: #ccc;
  line-height: 40px;
  font-size: 12px;
  outline: none;
  -webkit-transition: all ease-out 0.3s 0s;
  -o-transition: all ease-out 0.3s 0s;
  transition: all ease-out 0.3s 0s;
}
.modalCon .btn-primary.submitBtn {
  background: #0577ff;
  color: #fff;
}

.adminContent {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.topHeader {
  overflow: auto;
  margin-bottom: 15px;
}
.topHeader h4 {
  float: left;
  font-size: 20px;
  margin: 0;
  line-height: 32px;
}
.topHeader button {
  float: right;
  font-size: 15px;
}

.mainfooter {
  overflow: auto;
  padding: 0;
}
.mainfooter .innerfooter {
  float: right;
}
.mainfooter .footer {
  float: right;
}
.mainfooter .innerfooter .inner_pagination {
  margin-bottom: 0;
}
.mainfooter .innerfooter .inner_pagination > li {
  padding: 0 10px;
  line-height: 38px;
}
.mainfooter .footer h5 {
  float: left;
  margin: 0;
  margin-right: 10px;
  line-height: 38px;
  font-size: 14px;
}
.mainfooter .footer select {
  width: 60px;
  height: 38px;
  font-size: 14px;
}
.tableHeading {
  float: left;
}
.sort_header {
  float: left;
  width: 10px;
  position: relative;
  height: 20px;
  left: 8px;
  top: 2px;
}
.sort_header i {
  font-size: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  border: solid 5px;
  border-color: transparent transparent #e8e4e4 transparent;
}
.sort_header i:last-child {
  top: auto;
  bottom: -4px;
  border-color: #e8e4e4 transparent transparent transparent;
}
.sort_header i.active {
  border-color: transparent transparent gray transparent;
}
.sort_header i.active:last-child {
  border-color: gray transparent transparent transparent;
}
.page-link {
  height: 38px;
  font-size: 28px;
  line-height: 22px;
}
.adminContent {
  height: calc(100vh - 50px);
  overflow: hidden;
}
.iRrCnw {
  display: none !important;
}

.adminModal .form-control {
  font-size: 1.5rem;
}
.adminModal .btn {
  font-size: 16px;
}
.adminModal textarea {
  padding: 1.5rem;
  border: solid 1px #efecec;
  resize: none;
}

.loginForm .form-group {
  position: relative;
  margin-bottom: 20px;
}
.loginForm .error-message {
  padding-left: 10px;
}

.prop-entry figure {
  border: solid 1px #e6e4e4;
}
.tableBtns {
  width: 130px;
}
.tableBtns button {
  margin: 0 5px;
  font-size: 15px;
}
#scripts {
  height: 100%;
}
.adminContentCon {
  height: calc(100% - 45px);
  overflow: auto;
}
.adminPaginationCOn {
  padding: 10px;
}
.adminPaginationCOn ul {
  margin-bottom: 0;
}
.adminContentCon .tableCon {
  height: calc(100% - 47px);
  overflow: auto;
}
.adminModal .modal-body,
.adminModal .modal-footer,
.adminModal .modal-header {
  padding: 20px;
}
.imageUpload {
  width: 150px;
  height: 150px;
  border: solid 1px #efecec;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
.imageUpload input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 10;
}
.imageUpload img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.comments-section {
  padding: 50px 0;
  border-top: 1px solid #eee;
}

.comments-section h2 {
  color: #000;
  font-size: 25px;
}
._5lm5 {
  opacity: 0;
}
.chipsCon > div {
  min-height: 50px !important;
  padding: 10px 7px !important;
  border: solid 1px #efecec !important;
}

<<<<<<< head .signup input {
  font-size: 14px;
  padding: 0 15px !important;
}
.signup .modal-body {
  padding: 25px;
  position: relative;
}
.signup button[type="submit"] {
  width: 100%;
}
.signup button[disabled] {
  background: #87c8f6;
  border-color: #87c8f6;
}
.loginAvatar {
  width: 100px;
  height: 100px;
  margin: auto;
  border: solid 1px #eeebeb;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: -75px;
  background: #fff;
}
.loginAvatar span {
  color: #f23a2e;
}
.login .modal-dialog {
  margin-top: 80px;
}
.errormsg {
  color: red;
}
.accountVerifyCon {
  padding: 15px;
  padding-bottom: 50px;
  min-height: 500px;
}
.accountVerifyCon .icon {
  width: 110px;
  height: 110px;
  margin: 50px auto 30px;
  border: solid 3px #000;
  background: no-repeat center;
  border-radius: 50%;
}
.accountVerifyCon .success {
  background-image: url(/assets/img/icons.png);
  background-position: -7px;
}
.accountVerifyCon .fail {
  background-image: url(/assets/img/icons.png);
  background-position: -91px;
}
.accountVerifyCon .loading {
  background-image: url(/assets/img/loading.gif);
  background-size: 80px;
}
.accountVerifyCon p {
  font-size: 20px;
}
.accountVerifyCon .icon i {
  font-size: 200px;
}
.site-navbar .site-navigation .site-menu > li.userLogged {
  padding: 0;
  position: relative;
  width: 50px;
  height: 30px;
}
.site-navbar .site-navigation .site-menu > li.userLogged > a {
  font-size: 0;
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border-radius: 50%;
  background: #f0eded;
}
.site-navbar .site-navigation .site-menu > li.userLogged ul {
  margin-top: 25px !important;
  right: 0;
}
.site-navbar .site-navigation .site-menu > li.userLogged > a:before {
  display: none;
}
.site-navbar .site-navigation .site-menu > li.userLogged > a img {
  width: 100%;
}
.box-body .form-group {
  position: relative;
  margin-bottom: 20px;
}
.favBadge {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  text-align: right;
}
.favBadge:before {
  content: attr(x);
  position: absolute;
  right: -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  top: -60px;
  box-shadow: 0 1px 40px #f4f1f1;
}
.favBadge i {
  position: relative;
  z-index: 10;
  top: 2px;
  right: 8px;
  font-size: 11px;
  color: #c9c976;
}
.prop-entry {
  border: solid 1px #dcd9d9;
}
